# gitignore
.env
.lock
*__pycache__*
*final_files*
*.session
*.env
*.csv
*cookie*
*token.json
*secret.json
*.log
*.log.*
*.zip
*.rar
*.tar
*.xlsx
*.xls
*.jpg
*.png
*.jpeg
*.JPG
*.PNG
*.JPEG
*.txt
*.exe
.idea
!readme.txt
scrappers/custom/*
!scrappers/example.com.json
data/extensions
data/final_files
data/downloads
tests/data/extensions
tests/data/downloads
tests/data/final_files


# Ignore dynaconf secret files
.secrets.*
*.local.json
